Flask==3.0.0
requests==2.31.0
gmssl==3.2.2
flask-cors==4.0.0
APScheduler==3.10.4
PyMySQL==1.1.1
fastapi==0.111.0
uvicorn==0.29.0
pycryptodome==3.20.0
python-dotenv==1.0.0
loguru==0.7.2
qrcode==8.2
Pillow==11.1.0
cryptography==44.0.3
